# PySpark GroupBy and Aggregate Functions

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Testapp').getOrCreate()

In [2]:
spark

In [3]:
df = spark.read.csv('test5.csv', header=True, inferSchema=True)

In [4]:
df.show()

+---------+--------------------+------+
|     Name|         Departments|Salary|
+---------+--------------------+------+
|  Shubham|       Data ascience| 30000|
|   Manish|              Pharma| 15000|
|    Seeta|           HouseWife|  1000|
|Suryakant|   Police Department| 70000|
|Chaitanya|                  CS|  1000|
|    Nisha|            Students|     0|
|Ravindra |        Not Employed|  5000|
|   Sujata|          Beautician| 15000|
|  Lahuram|Ex-Army officer a...| 25000|
|  Saurabh|                Army|  3000|
|  Shubham|       Data ascience|  6000|
|  Saurabh|                Army|  5000|
|    Nisha|            Students| 50000|
|  Shubham|       Data ascience| 15000|
|    Seeta|           HouseWife|500000|
|Suryakant|   Police Department|300000|
|   Manish|              Pharma| 50000|
+---------+--------------------+------+

In [5]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [6]:
## GroupBy operations

# grouped to fing maximum salary
df.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|   Manish|      65000|
|  Saurabh|       8000|
|Chaitanya|       1000|
|    Nisha|      50000|
|   Sujata|      15000|
|Ravindra |       5000|
|  Lahuram|      25000|
|Suryakant|     370000|
|    Seeta|     501000|
|  Shubham|      51000|
+---------+-----------+

In [7]:
# grouped by departments which gives maximum salary
df.groupBy('Departments').sum().show()

+--------------------+-----------+
|         Departments|sum(Salary)|
+--------------------+-----------+
|Ex-Army officer a...|      25000|
|              Pharma|      65000|
|            Students|      50000|
|        Not Employed|       5000|
|          Beautician|      15000|
|   Police Department|     370000|
|                Army|       8000|
|       Data ascience|      51000|
|                  CS|       1000|
|           HouseWife|     501000|
+--------------------+-----------+

In [8]:
df.groupBy('Departments').mean().show()

+--------------------+-----------+
|         Departments|avg(Salary)|
+--------------------+-----------+
|Ex-Army officer a...|    25000.0|
|              Pharma|    32500.0|
|            Students|    25000.0|
|        Not Employed|     5000.0|
|          Beautician|    15000.0|
|   Police Department|   185000.0|
|                Army|     4000.0|
|       Data ascience|    17000.0|
|                  CS|     1000.0|
|           HouseWife|   250500.0|
+--------------------+-----------+

In [9]:
df.groupBy('Departments').count().show()

+--------------------+-----+
|         Departments|count|
+--------------------+-----+
|Ex-Army officer a...|    1|
|              Pharma|    2|
|            Students|    2|
|        Not Employed|    1|
|          Beautician|    1|
|   Police Department|    2|
|                Army|    2|
|       Data ascience|    3|
|                  CS|    1|
|           HouseWife|    2|
+--------------------+-----+

In [10]:
df.agg({"Salary": 'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|    1091000|
+-----------+

In [11]:
df.groupBy('Name').avg().show()

+---------+-----------+
|     Name|avg(Salary)|
+---------+-----------+
|   Manish|    32500.0|
|  Saurabh|     4000.0|
|Chaitanya|     1000.0|
|    Nisha|    25000.0|
|   Sujata|    15000.0|
|Ravindra |     5000.0|
|  Lahuram|    25000.0|
|Suryakant|   185000.0|
|    Seeta|   250500.0|
|  Shubham|    17000.0|
+---------+-----------+