# Example of PySpark ML

In [1]:
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName("ML").getOrCreate()

In [2]:
training = spark.read.csv('test6.csv', header=True, inferSchema=True)

In [3]:
training.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|  Shubham| 27|        10| 30000|
|Suryakant| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|   Manish| 24|         3| 20000|
|    Krish| 21|         1| 15000|
|     Paul| 23|         2| 18000|
+---------+---+----------+------+

In [4]:
training.columns

['Name', 'age', 'Experience', 'Salary']

In [5]:
# import ML lib

In [6]:
from pyspark.ml.feature import VectorAssembler
feaureassembler = VectorAssembler(inputCols=['age', 'Experience'], outputCol='Independent')

In [7]:
output = feaureassembler.transform(training)

In [8]:
output.show()

+---------+---+----------+------+-----------+
|     Name|age|Experience|Salary|Independent|
+---------+---+----------+------+-----------+
|  Shubham| 27|        10| 30000|[27.0,10.0]|
|Suryakant| 30|         8| 25000| [30.0,8.0]|
|    Sunny| 29|         4| 20000| [29.0,4.0]|
|   Manish| 24|         3| 20000| [24.0,3.0]|
|    Krish| 21|         1| 15000| [21.0,1.0]|
|     Paul| 23|         2| 18000| [23.0,2.0]|
+---------+---+----------+------+-----------+

In [9]:
output.columns

['Name', 'age', 'Experience', 'Salary', 'Independent']

In [10]:
finalized_data = output.select('Independent','Salary')

In [11]:
finalized_data.show()

+-----------+------+
|Independent|Salary|
+-----------+------+
|[27.0,10.0]| 30000|
| [30.0,8.0]| 25000|
| [29.0,4.0]| 20000|
| [24.0,3.0]| 20000|
| [21.0,1.0]| 15000|
| [23.0,2.0]| 18000|
+-----------+------+

In [12]:
from pyspark.ml.regression import LinearRegression

#train data split
train_data,test_data = finalized_data.randomSplit([0.75,0.25])

#model creatiion
regressior = LinearRegression(featuresCol='Independent', labelCol='Salary')

In [13]:
regressior = regressior.fit(train_data)

In [14]:
#cofficient
regressior.coefficients

DenseVector([1000.0, 1000.0])

In [15]:
#intercept
regressior.intercept

-6999.999999994928

In [16]:
###prediction
pred_result = regressior.evaluate(test_data)

In [17]:
pred_result.predictions.show()

+-----------+------+------------------+
|Independent|Salary|        prediction|
+-----------+------+------------------+
| [24.0,3.0]| 20000|19999.999999999724|
| [29.0,4.0]| 20000| 25999.99999999866|
| [30.0,8.0]| 25000| 30999.99999999901|
+-----------+------+------------------+

C:\Users\Shubham\AppData\Local\Programs\Python\Python39\lib\site-packages\pyspark\sql\context.py:125: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [18]:
pred_result.meanAbsoluteError, pred_result.meanSquaredError

(3999.999999999316, 23999999.999990687)