In [5]:
a =lambda x,y:[x+y,x-y]

In [6]:
a(2,3)

[5, -1]

In [12]:
b= lambda x,y,z:[x*y,x+y+z, z*x-y]

In [13]:
b(3,4,5)

[12, 12, 11]

In [14]:
c=lambda x,y,z:[x*y,x+z, z*x-y]

In [15]:
c

In [16]:
c(4,5,6)

[20, 10, 19]

In [48]:
a=lambda x,y:[x+y,x*y,x-y,x/y]

In [49]:
a(6,8)

[14, 48, -2, 0.75]

In [35]:
class Employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [36]:
Siva = Employee('Siva', 21)
Raju = Employee('Raju', 24)
Dravid = Employee('Dravid', 22)
L = [Siva,Raju, Dravid]

In [37]:
L.sort(key=lambda x: x.age)
print([item.name for item in L])

['Siva', 'Dravid', 'Raju']

In [18]:
a=(lambda x,y,z:x+y+z)(1,2,3)

In [19]:
a

6

In [20]:
(lambda x,y,z:x+y+z)(x=1,z=2,y=3)

6

In [21]:
(lambda x, y, z=3: x + y + z)(1, y=2)

6

In [22]:
(lambda *args: sum(args))(1,2,3,4,6,7,8,9)

40

In [23]:
(lambda **kwargs: sum(kwargs.values()))(one=1, two=2, three=3,four=4)

10

In [24]:
(lambda x, *, y=0, z=0: x + y + z)(1, y=2, z=3)

6

In [25]:
(lambda x,*a,y,z=0,**b:x+y+z)(1,2,3,y=2)

3

In [26]:
import functools

In [42]:
x= [(1, 'a'), (2, 'b'), (3, 'c')]

In [53]:
functools.reduce(lambda acc, y : acc + y[0], x,10)

16

In [54]:
dict_a = [{'name': 'python', 'points': 10}, {'name': 'java', 'points': 8}]

In [55]:
list(map(lambda x : x['name'], dict_a)) # Output: ['python', 'java']

['python', 'java']

In [56]:
list(map(lambda x : x['points']*10,  dict_a))

[100, 80]

In [57]:
map(lambda x : x['name'] == "python", dict_a)

In [14]:
list_a = [1, 2, 3, 4, 5]

filter_obj = filter(lambda x: x % 2 == 0, list_a) 

even_num = list(filter_obj)

print(even_num)

[2, 4]

In [58]:
terms=10
result=list(map(lambda x:2**x, range(terms)))

In [59]:
result

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [33]:
terms=10
result=list(map(lambda x:2**x, range(terms)))
print("The total terms is: ",terms)
for i in range(terms): 
    print("2 raised to power" ,i,"is", result[i])

The total terms is:  10
2 raised to power 0 is 1
2 raised to power 1 is 2
2 raised to power 2 is 4
2 raised to power 3 is 8
2 raised to power 4 is 16
2 raised to power 5 is 32
2 raised to power 6 is 64
2 raised to power 7 is 128
2 raised to power 8 is 256
2 raised to power 9 is 512

In [34]:
my_list=[12,65,54,39,102,339,221]
num=13
result=list(filter(lambda x:(x % num ==0),my_list))
print("Number divisible by", num ,"are",result)

Number divisible by 13 are [65, 39, 221]