In [3]:
{x for x in [1,1,5,5,3,3]}

{1, 3, 5}

In [4]:
{i for i in "set comprehension"}

{' ', 'c', 'e', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 's', 't'}

In [5]:
{x for x in range(2, 101) if all(x%y for y in range(2, min(x, 11)))}

{2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97}

In [6]:
{i*2 for i in range(4) if i%2 == 0}

{0, 4}

In [7]:
set(i*2 for i in range(4) if i%2 == 0)

{0, 4}

In [8]:
# Using Set comprehensions  
# for constructing output set 
  
input_list = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7] 
  
set_using_comp = {var for var in input_list if var % 2 == 0} 
  
print("Output Set using set comprehensions:", set_using_comp)

Output Set using set comprehensions: {2, 4, 6}

In [30]:
input_list = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7] 
  
output_set = set() 
  
# Using loop for constructing output set 
for var in input_list: 
    if var % 2 == 0: 
        output_set.add(var) 
print("Output Set using for loop:", output_set)

Output Set using for loop: {2, 4, 6}

In [36]:
{s**2 for s in [1, 2, 1, 0]}

{0, 1, 4}

In [35]:
{s**2 for s in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [34]:
{(m, n) for n in range(2) for m in range(3, 5)}

{(3, 0), (3, 1), (4, 0), (4, 1)}