# Sets - Mutable Data Types

A set is an unordered collection of items. Every element is unique. A set is created by placing all the items (elements) inside curly braces{},seperated by commas

In [1]:
# Every element has to be unique
a={1,2,3,4}

In [4]:
# can create a set by calling an in built-function 'set'
a=set()

In [5]:
type(a)

set

# SET Introduction

## Creating an empty set:

In [94]:
#Creating empty sets
#only 1 way 
x = set()
print(x)   #empty set

set()

## Difference between a set and a list:

In [95]:
#removes duplicates, this is the difference between list and a set
l = [1,2,2,3,3,3,4,4,4,4]
print(l)
s = set(l)
print(s)

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
{1, 2, 3, 4}

## Indexing and slicing:

In [96]:
s = {1,2,3,4,5,6,7,8,9}
print(len(s))

#indexing:
#print(s[4])

#slicing:
#print(s[2::-1])
#print(s[2:9:2])

9

## Built-in-functions:

In [97]:
#built-in-functions
s = {1,2,3,4}
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [98]:
#1. add()
''' Add an element to a set.

This has no effect if the element is already present. '''


s.add(1)
s.add(5)
print(s)

{1, 2, 3, 4, 5}

In [99]:
#2. clear()
''' Remove all elements from this set. '''
s.clear()
print(s)

set()

In [100]:
#3. copy()
''' Return a shallow copy of a set.  '''
s = {1,2,3}
print(s)
s1 = s.copy()
print(s1)

{1, 2, 3}
{1, 2, 3}

In [101]:
#4. difference()
''' Return the difference of two or more sets as a new set.

(i.e. all elements that are in this set but not the others.) '''


##type1
s1 = {1,2,3,4}
s2 = {2,3,4}
s3 = s1.difference(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)
print("----------")

##type2
s1 = {1,2,3,4}
s2 = {2,3,4}
s3 = s2.difference(s1)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print("----------")
##type3
s1 = {1,2,3,4}
s2 = {3,5,6,7}
s3 = s1.difference(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)
print("----------")

##type4
s1 = {1,2,3,4}
s2 = {3,5,6,7}
s3 = s2.difference(s1)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

s1 is:  {1, 2, 3, 4}
s2 is:  {2, 3, 4}
s3 is:  {1}
----------
s1 is:  {1, 2, 3, 4}
s2 is:  {2, 3, 4}
s3 is:  set()
----------
s1 is:  {1, 2, 3, 4}
s2 is:  {3, 5, 6, 7}
s3 is:  {1, 2, 4}
----------
s1 is:  {1, 2, 3, 4}
s2 is:  {3, 5, 6, 7}
s3 is:  {5, 6, 7}

In [102]:
#5. difference_update()
''' Remove all elements of another set from this set  '''

##type1
s1 = {1,2,3,4}
s2 = {2,3,4}
s3 = s1.difference_update(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

##type2
s1 = {1,2,3,4}
s2 = {2,3,4}
s3 = s2.difference_update(s1)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

s1 is:  {1}
s2 is:  {2, 3, 4}
s3 is:  None
s1 is:  {1, 2, 3, 4}
s2 is:  set()
s3 is:  None

In [103]:
#6. discard()
''' Remove an element from a set if it is a member. If the element is not a member, do nothing. '''


s = {1,2,3,4,5}
s.discard(6)
print(s)
s.discard(4)
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}

In [104]:
#7. intersection()
''' Return the intersection of two sets as a new set. (i.e. all elements that are in both sets.) '''


##type1
s1 = {1,2,3,4,5}
s2 = {3,5,2,6,5}
s3 = s1.intersection(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

##type2
s1 = {1,2,3}
s2 = {4,5,6,7,8}
s3 = s1.intersection(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

s1 is:  {1, 2, 3, 4, 5}
s2 is:  {2, 3, 5, 6}
s3 is:  {2, 3, 5}
s1 is:  {1, 2, 3}
s2 is:  {4, 5, 6, 7, 8}
s3 is:  set()

In [105]:
#8. intersection_update()
''' Update a set with the intersection of itself and another. '''


##type1
s1 = {1,2,3,4,5}
s2 = {3,5,2,6,5}
s3 = s1.intersection_update(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('----------------')
##type2
s1 = {1,2,3,4,5}
s2 = {3,5,2,6,5}
s3 = s2.intersection_update(s1)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('---------------------------------------------------')
##type3
s1 = {1,2,3}
s2 = {4,5,6,7,8}
s3 = s1.intersection_update(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('----------------')

##type4
s1 = {1,2,3}
s2 = {4,5,6,7,8}
s3 = s2.intersection_update(s1)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

s1 is:  {2, 3, 5}
s2 is:  {2, 3, 5, 6}
s3 is:  None
----------------
s1 is:  {1, 2, 3, 4, 5}
s2 is:  {2, 3, 5}
s3 is:  None
---------------------------------------------------
s1 is:  set()
s2 is:  {4, 5, 6, 7, 8}
s3 is:  None
----------------
s1 is:  {1, 2, 3}
s2 is:  set()
s3 is:  None

In [106]:
#9. isdisjoint()
''' Return True if two sets have a null intersection. '''


s1 = {1,2,3,4,5}
s2 = {2,5,7,4,8}
s3 = {12,34,12,45}
print(s1.isdisjoint(s2))    #has intersection
print(s1.isdisjoint(s3))    #doesn't have intersection

False
True

In [107]:
#10. issubset()
''' Report whether another set contains this set.  '''

s1 = {1,2,3,4,5,6,7,8,9}
s2 = {2,5,6,4}
s3 = {2,76,34,21,32,5,6,7,8}
print(s2.issubset(s1))
print(s3.issubset(s1))

True
False

In [108]:
#11. issuperset()
''' Report whether this set contains another set.  '''

s1 = {1,2,3,4,5,6,7,8,9}
s2 = {2,5,6,4}
s3 = {2,76,34,21,32,5,6,7,8}
print(s1.issuperset(s2))
print(s1.issuperset(s3))

True
False

In [109]:
#12. pop()
''' remove and return an arbitrary set element. Raises KeyError if the set is empty. Can take no arguements'''

s = {1,2,3,4,5,6,7,8,9}
x = s.pop()
print(s)
y = s.pop()
print(s)
print(x)
print(y)

{2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8, 9}
1
2

In [110]:
#13. remove()
''' Remove an element from a set; it must be a member. If the element is not a member, raise a KeyError. '''

s = {1,2,3,4,5,6,7,8,9}
s.remove(2)
print(s)

{1, 3, 4, 5, 6, 7, 8, 9}

In [111]:
#14. symmetric_difference()
''' Return the symmetric difference of two sets as a new set. (i.e. all elements that are in exactly one of the sets.) '''

##type1
s1 = {1,2,3,4,5}
s2 = {3,5,2,6,5}
s3 = s1.symmetric_difference(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('----------------')
##type2
s1 = {1,2,3,4,5}
s2 = {3,5,2,6,5}
s3 = s2.symmetric_difference(s1)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('---------------------------------------------------')
##type3
s1 = {1,2,3}
s2 = {4,5,6,7,8}
s3 = s1.symmetric_difference(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('----------------')

##type4
s1 = {1,2,3}
s2 = {4,5,6,7,8}
s3 = s2.symmetric_difference(s1)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

s1 is:  {1, 2, 3, 4, 5}
s2 is:  {2, 3, 5, 6}
s3 is:  {1, 4, 6}
----------------
s1 is:  {1, 2, 3, 4, 5}
s2 is:  {2, 3, 5, 6}
s3 is:  {1, 4, 6}
---------------------------------------------------
s1 is:  {1, 2, 3}
s2 is:  {4, 5, 6, 7, 8}
s3 is:  {1, 2, 3, 4, 5, 6, 7, 8}
----------------
s1 is:  {1, 2, 3}
s2 is:  {4, 5, 6, 7, 8}
s3 is:  {1, 2, 3, 4, 5, 6, 7, 8}

In [112]:
#15. symmetric_difference_update()
''' Update a set with the symmetric difference of itself and another. '''


##type1
s1 = {1,2,3,4,5}
s2 = {3,5,2,6,5}
s3 = s1.symmetric_difference_update(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('----------------')
##type2
s1 = {1,2,3,4,5}
s2 = {3,5,2,6,5}
s3 = s2.symmetric_difference_update(s1)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('---------------------------------------------------')
##type3
s1 = {1,2,3}
s2 = {4,5,6,7,8}
s3 = s1.symmetric_difference_update(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('----------------')

##type4
s1 = {1,2,3}
s2 = {4,5,6,7,8}
s3 = s2.symmetric_difference_update(s1)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

s1 is:  {1, 4, 6}
s2 is:  {2, 3, 5, 6}
s3 is:  None
----------------
s1 is:  {1, 2, 3, 4, 5}
s2 is:  {1, 4, 6}
s3 is:  None
---------------------------------------------------
s1 is:  {1, 2, 3, 4, 5, 6, 7, 8}
s2 is:  {4, 5, 6, 7, 8}
s3 is:  None
----------------
s1 is:  {1, 2, 3}
s2 is:  {1, 2, 3, 4, 5, 6, 7, 8}
s3 is:  None

In [113]:
#16. union()
''' Return the union of sets as a new set. (i.e. all elements that are in either set.) '''

##type1
s1 = {1,2,3,4,5}
s2 = {3,5,2,6,5}
s3 = s1.union(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('------------------------------')
##type2
s1 = {1,2,3}
s2 = {4,5,6,7,8}
s3 = s1.union(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

s1 is:  {1, 2, 3, 4, 5}
s2 is:  {2, 3, 5, 6}
s3 is:  {1, 2, 3, 4, 5, 6}
------------------------------
s1 is:  {1, 2, 3}
s2 is:  {4, 5, 6, 7, 8}
s3 is:  {1, 2, 3, 4, 5, 6, 7, 8}

In [114]:
#17. update()
''' Update a set with the union of itself and others.  '''

##type1
s1 = {1,2,3,4,5}
s2 = {3,5,2,6,5}
s3 = s1.update(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

print('------------------------------')
##type2
s1 = {1,2,3}
s2 = {4,5,6,7,8}
s3 = s1.update(s2)
print("s1 is: ",s1)
print("s2 is: ",s2)
print("s3 is: ",s3)

s1 is:  {1, 2, 3, 4, 5, 6}
s2 is:  {2, 3, 5, 6}
s3 is:  None
------------------------------
s1 is:  {1, 2, 3, 4, 5, 6, 7, 8}
s2 is:  {4, 5, 6, 7, 8}
s3 is:  None