In [1]:
import pyspark

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("pysparktest.csv")
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

        Name  Age  Experience
0    Shubham   27           5
1     Manish   25           1
2  Suryakant   58          34
3    Saurabh   18           0

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName("demo").getOrCreate()

In [6]:
spark

In [11]:
df_pyspark = spark.read.csv('pysparktest.csv')

In [12]:
df_pyspark.show()

+---------+---+----------+
|      _c0|_c1|       _c2|
+---------+---+----------+
|     Name|Age|Experience|
|  Shubham| 27|         5|
|   Manish| 25|         1|
|Suryakant| 58|        34|
|  Saurabh| 18|         0|
+---------+---+----------+

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [9]:
df_pyspark = spark.read.option('header', 'true').csv('pysparktest.csv').show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|  Shubham| 27|         5|
|   Manish| 25|         1|
|Suryakant| 58|        34|
|  Saurabh| 18|         0|
+---------+---+----------+

In [10]:
type(df_pyspark)

NoneType

In [14]:
df_pyspark.head(2)

[Row(_c0='Name', _c1='Age', _c2='Experience'),
 Row(_c0='Shubham', _c1='27', _c2='5')]

In [15]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)