# PySpark DataFrame

- Filter Opetations
    - & , | , ==
    - ~

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Testapp').getOrCreate()

In [4]:
df_pyspark = spark.read.csv('test4.csv', header=True, inferSchema=True)

In [5]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|  Shubham|  27|         5| 50000|
|   Manish|  25|         1| 25000|
|Suryakant|  58|        34| 45000|
|  Saurabh|  18|         0| 15000|
|    Seeta|  45|        25| 15000|
|   Shweta|  45|        15| 85000|
|     null|null|      null| 40000|
|     null|  36|        10| 38000|
|     null|  34|      null|  null|
+---------+----+----------+------+

## Filter Operation

In [6]:
# salary of pepple less than or equal to 20000

df_pyspark.filter('Salary <=20000').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Saurabh| 18|         0| 15000|
|  Seeta| 45|        25| 15000|
+-------+---+----------+------+

In [10]:
df_pyspark.filter('Salary <=20000').select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|Saurabh| 18|
|  Seeta| 45|
+-------+---+

In [11]:
df_pyspark.filter(df_pyspark['Salary']>=30000).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|  Shubham|  27|         5| 50000|
|Suryakant|  58|        34| 45000|
|   Shweta|  45|        15| 85000|
|     null|null|      null| 40000|
|     null|  36|        10| 38000|
+---------+----+----------+------+

In [13]:
df_pyspark.filter((df_pyspark['Salary']>=20000) & (df_pyspark['Salary']<=60000)).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|  Shubham|  27|         5| 50000|
|   Manish|  25|         1| 25000|
|Suryakant|  58|        34| 45000|
|     null|null|      null| 40000|
|     null|  36|        10| 38000|
+---------+----+----------+------+

In [14]:
# inverse operation


df_pyspark.filter(~(df_pyspark['Salary']<20000)).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|  Shubham|  27|         5| 50000|
|   Manish|  25|         1| 25000|
|Suryakant|  58|        34| 45000|
|   Shweta|  45|        15| 85000|
|     null|null|      null| 40000|
|     null|  36|        10| 38000|
+---------+----+----------+------+